/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --background: url(../images/background-dark.png), lightgray 0% 0% / 50px 50px repeat, linear-gradient(180deg, #007F0C 0%, #004306 100%);
  --font-main: 'Inter-Variable', serif;
  --font-accent: 'PressStart2P', monospace;
  --themes-main-color: #00CC14;
  --themes-backgroud-color: #000;
  --themes-font-weight-title: 785;
  --themes-font-weight-content: 465;
}
